
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: 'Raleway', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Bulma
$text: hsl(0, 0%, 94%);
$text-light: hsl(0, 0%, 94%);
$text-strong: hsl(0, 0%, 94%);
$link: hsl(348, 100%, 61%);
$link-hover: hsl(348, 100%, 41%);
$primary: #242424;
$input-background-color: #363636;
$input-color: #fff;
$input-border-color: #242424;
$input-hover-border-color: #242424;
$button-color: #fff;
$button-background-color: #242424;
$button-hover-color: #fff;
$button-border-width: 0;
$button-focus-color: #fff;
$button-active-color: #fff;
$message-body-padding: 0.75rem;
